@using DentalManagementSystem.Services.Data.Interfaces
@using DentalManagementSystem.Web.Infrastructure.Extensions
@using DentalManagementSystem.Web.ViewModels.Patient
@model IEnumerable<AllPatientsIndexViewModel>

@inject IPatientService patientService
@inject IDentistService dentistService

@{
    ViewData["Title"] = "All Patients";
}

<h2>All Patients</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            @if (await this.dentistService.IsUserDentist(this.User.GetUserId()!) == true || this.User.Identity!.IsAuthenticated && this.User.IsInRole("Admin"))
            {
                <th>Actions</th>
            }
            
        </tr>
    </thead>
    <tbody>
        @foreach (AllPatientsIndexViewModel patient in Model)
        {
            <tr>
                <td>@patient.Name</td>
                <td>@patient.Gender</td>
                @if (await this.dentistService.IsUserDentist(this.User.GetUserId()!) == true || this.User.Identity!.IsAuthenticated && this.User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@patient.Id" class="btn btn-info">Details</a>
                    </td>
                }
                
            </tr>
        }
    </tbody>
</table>

@if (this.User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <a asp-action="Create" class="btn btn-primary">Add New Patient</a>
}