@using DentalManagementSystem.Web.ViewModels.Procedure
@model ProcedureDetailsViewModel

@{
    ViewData["Title"] = "Procedure Details";
}

<h2>@Model.Name - Procedure</h2>
<p><strong>Price:</strong> @Model.Price</p>
<p><strong>Description:</strong> @Model.Description</p>

<a asp-action="Index" class="btn btn-secondary mt-3">Back to Procedures</a>
@if (this.User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <a asp-action="Delete" asp-route-id="@ViewContext.RouteData.Values["id"]" class="btn btn-danger mt-3">Delete</a>
}