@using DentalManagementSystem.Services.Data.Interfaces
@using DentalManagementSystem.Web.Infrastructure.Extensions
@using DentalManagementSystem.Web.ViewModels.Appointment
@using DentalManagementSystem.Web.ViewModels.Home
@using DentalManagementSystem.Web.ViewModels.Procedure

@model AppointmentDetailsViewModel

@inject IDentistService dentistService
@inject IPatientService patientService

@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity?.IsAuthenticated ?? false)
{
    @if (await this.dentistService.IsUserDentist(this.User.GetUserId()) == false && await this.patientService.IsUserPatient(this.User.GetUserId()) == false)
    {
        <div class="container text-center mt-5">
            <h2>Welcome!</h2>
            <p>Please select your role in the system to continue.</p>
            <form method="post">
                <a class="btn btn-primary btn-lg m-2" asp-area="" asp-controller="Dentist" asp-action="Become">Become Dentist</a>
                <a class="btn btn-success btn-lg m-2" asp-area="" asp-controller="Patient" asp-action="Become">Become Patient</a>
            </form>
        </div>
    }

}
else
{
    <div class="container text-center mt-5">
        <h1>Welcome to Dental Clinic Dr. Peneva!</h1>
        <p>Please log in or register to continue.</p>
    </div>
}